/* Main */

body {
  font-family: 'Helvetica';
  font-size: 16px;
  padding:0;
  margin:0;
}


h1{
  font-family: 'Helvetica';
  color: #202020;
  font-size: 24px;
}

h2{
  font-family: 'Helvetica';
  font-size: 22px;
  color: #6F6F6F;
}

h3{
  font-family: 'Helvetica';
  font-size: 18px;
  color: #6F6F6F;}


/* Header */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: nowrap;
    flex: 0 1 auto;}

.home {
  width: 150px;}

.icons svg{
    width: 30px;
    padding-left: 2em;
    padding-right: 1em;}


/* Nav */


article {
      margin: 0 auto;
      margin-bottom: 15px;
      width: 100%;
    }

     nav {
      margin-top: 3em;
      display: table;
      width: 100%;
      height: 1.4em;
      border-collapse: collapse;
      border: none;
    }

nav ul {
      display: table-row;
    }

nav li {
      display: table-cell;
      margin: 0;
      text-align: center;
    }

nav li a {

    display: inline-block;
    border-bottom: 0.4em solid transparent;
    padding:  .5em;
    text-decoration: none;
    color: black;
    }

nav li a:hover {
  border-bottom: 0.4em solid #ff7e79;
  color: #ff7e79;}



/* Main */



.homeheader{
  background-image: url(http://i61.photobucket.com/albums/h57/lesleytea/tumblr_nzye2vQGzr1uwtp3oo1_500_zps6yswibrt.jpg);
  background-size: cover;
  background-position: 100%;

}

.overlay{
  width: 100%;
  display: flex;
  flex-direction:column;
  color: white;
  background-color:rgba(20,20,20,0.6);
  padding-top:150px;
  padding-left: 80px;
  padding-bottom: 80px;
}

.overlay h2{
  color:white;
  font-size:36px ;
}

.overlay a{
  color: white;
  text-decoration: none;
  }

.overlay p{
  line-height: 1.5em;
}

.button{
  border-style: solid;
  border-color: #c1c1c1;
  border-width: 3px;
  background-color:rgba(0,0,0,0.1);
  width: 120px;
  text-align: center;
  padding: 10px;
  margin-top: 30px;

}

.button:hover {
    background-color: #ff7e79;
    color: #ffffff;
    border-color: #ff7e79;}












/* Footer */

footer {
  margin-top: 70px;
  border-top: 2px solid #e5e5e5;
  padding-top: 20px;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
  flex: 0 1 auto;
}

.logo{
  width: 110px;
  padding-top:10px;
  padding-bottom: 50px;
  padding-right:50px;
}


.social{
    padding-right: 1em;
  }

.social p{
  line-height: 1.5em;
}
