body {
  max-width: 800px;
  padding: 1em;
  font-family: Helvetica, Arial, sans-serif;
}

ul {
  list-style:none;
}

div, li, nav, footer {
  border: 1px solid lightgray;
  padding: .8em;
  margin-bottom: 1em;
}
