body {
  padding: 1em;
  font-family: Helvetica, sans-serif;
}


svg{
  max-width: 20%;}

section{
  white-space: nowrap;
  position:relative;
  width:100%;
  text-align: center;
  margin-bottom: 40px;
}

nav ul li{
  display:inline-block;
  list-style:none;
  width:200px;
  font-family:Helvetica, sans-serif;
  color:black;
  padding:15px 0 15px 0;
  cursor:pointer;}

nav ul{
  position:absolute;
  width:100%;
  z-index:100;
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  margin-left: 0;

}

/* unvisited link */
nav a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
nav a:visited {
  color:black;
}

/* mouse over link */
nav a:hover {
    border-bottom:4px solid #ff7e79;
    color:black;
    padding-bottom: 13px;
    padding-left: 10px;
    padding-right: 10px;
}

/* selected link */
nav a:active {
  color:black;
}
